{% extends 'base.html.twig' %}

{% block title %}Mon compte - SUPPIMMO{% endblock %}

{% block content %}
<h1> Modifier votre mot de passse </h1>

Bienvenue {{app.user.firstname}} sur votre compte SUPPIMMO :)<br>
c'est dans cette espace que vous allez gerer toute vos informations personelles.
<hr>
<a href="{{path ('account')}}">Retourner sur mon compte</a><br>

{{form(form)}}
{% endblock %}
